.getExample {
  text-align: center;
}

.getExample ul {
  margin: 0 auto;
  overflow: hidden;
  width: 1000px;
}

.getExample li {
  float: left;
  height: 90px;
  margin-bottom: 10px;
  width: 250px;
}
